Reading dataset into python environment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

In [2]:
data=pd.read_csv("dataset w7.csv")
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [3]:
data.columns

Index(['Gender', 'Test preparation', 'Total Marks'], dtype='object')

In [4]:
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

# 1. Carry out descriptive analytics on the dataset.

In [5]:
data[['Total Marks']].mean()

Total Marks    32.321429
dtype: float64

In [6]:
data[['Total Marks']].median()

Total Marks    33.0
dtype: float64

In [7]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [9]:
data['Gender'].describe()

count         28
unique         2
top       female
freq          16
Name: Gender, dtype: object

In [10]:
data['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [11]:
data.groupby('Gender')['Test preparation'].value_counts()

Gender  Test preparation
female  none                12
        completed            4
male    none                 9
        completed            3
Name: Test preparation, dtype: int64

In [12]:
data.groupby('Gender')['Total Marks'].mean()

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

In [13]:
data['Test preparation'].value_counts()

none         21
completed     7
Name: Test preparation, dtype: int64

In [14]:
data['Test preparation'].describe()

count       28
unique       2
top       none
freq        21
Name: Test preparation, dtype: object

In [15]:
data.groupby('Test preparation')['Total Marks'].mean()

Test preparation
completed    44.571429
none         28.238095
Name: Total Marks, dtype: float64

# 2. Check whether female and male students scored the same marks

In [16]:
#H0 : Male & Female students scored same marks
#H1 : Male & Female students scored different marks

alpha = .05
Male = data[data["Gender"]== "male"][["Total Marks"]]
Female = data[data["Gender"]== "female"][["Total Marks"]]
t_score,p_value = ttest_ind(Male,Female)
print('The test result is:',t_score,p_value)

The test result is: [-0.69408853] [0.49378223]

In [17]:
if (p_value > alpha):
    print( "Fails to reject the null hypothesis")
else:
    print("Rejecting the null hypothesis ")

Fails to reject the null hypothesis

# 3. Whether test preparation helps the students

In [18]:
# H0 = Test preparation didn't helped the students
# H1 = Test preparation helped the students

alpha = .05
TestPrep_Male = data[data["Test preparation"]=="completed"][["Total Marks"]]
TestPrep_Female = data[data["Test preparation"]=="none"][["Total Marks"]]
t_score,p_value2 = ttest_ind(TestPrep_Male,TestPrep_Female)
print('The test result is:',t_score,p_value2)

The test result is: [3.61436375] [0.00126713]

In [19]:
if (p_value2 > alpha):
    print('Fails to reject the null hypothesis')
else:
    print("Rejecting the null hypothesis")

Rejecting the null hypothesis